.loader{
  position: absolute;
  height: 100%;
  width:100%;
}

.main--waiting{
  opacity: 0;
  height: 0px;
  width: 0px;
  position:absolute;
}

.loader__bar{
  background: black;
  height: 2px;
  width: 0%;
  position: absolute;
  top:50%;
}

.loader__container{
  width:100%;
  text-align: center;
  height: 100%;
}

.loader__icon{
  position: relative;
  top:40%;
}
